:root{
    --body_bg:#7dc5ff;
    --white:#fff;
    --next_btn_bg:#0051ff;
    --desc_text:#666;
    --input_border_color:#ccc;
    --tooltip_modal_bg:#333;
    --black:#000000;

    --links:#001aff;
}