:root{
    --body_bg:#dadada;
    --white:#fff;
    --next_btn_bg:#0051ff;
    --desc_text:#666;
    --input_border_color:#ccc;
    --tooltip_modal_bg:#333;
    --black:#000000;
    --halka_blue:rgb(0, 255, 234);
    --green_halka_bg:#c8e6c9;
    --modal_bg:rgba(0, 0, 0, 0.5);

    --next_btn_green: rgb(0, 150, 0);
    --green:rgb(0, 255, 0);
    --next_btn_red: rgb(150, 0, 0);

    --links:#001aff;
}